<!DOCTYPE html>
<html>
<head>
	{% block head %}
	<title>{% block title %}{% endblock %} - Faceclone</title>

	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="templates/AdminLTE/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="templates/AdminLTE/dist/css/AdminLTE.min.css">

    <link rel="stylesheet" href="templates/AdminLTE/plugins/select2/select2.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="templates/AdminLTE/dist/css/skins/_all-skins.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

	{% endblock %}
</head>
<body class="skin-blue layout-top-nav">
	<header class="main-header row">
  <a href="index.php" class="logo">
    <span class="logo-mini"><b>F</b>C</span>
    <span class="logo-lg">Face<b>Clone</b></span>
    <!-- LOGO -->
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top" role="navigation" style="position:static">
    <!-- Navbar Right Menu -->
    {% if connected %}

    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- Messages: style can be found in dropdown.less-->
        <li class="dropdown messages-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-envelope-o"></i>
            <span class="label label-danger">{{ user.unreadconversations | length >= 1 ? user.unreadconversations | length }}</span>
          </a>
          <ul class="dropdown-menu">
            <li class="header">
            {% if user.UnreadConversations | length == 1 %}
            Vous avez un nouveau message
            {% elseif user.UnreadConversations | length == 0 %}
            Vous n'avez pas de nouveau message
            {% else %}
            Vous avez {{user.UnreadConversations | length }} nouveaux messages 
            {% endif %}
             </li>
            <li>
              <!-- inner menu: contains the actual data -->
              <ul class="menu">
              {% for conversation in user.conversations | slice(0, 5) | reverse %}
                <li {{ conversation.readstatus ? 'class="bg-gray-active color-palette"' }}><!-- start message -->
                  <a href="detailmp.php?mpid={{ conversation.idconversation }}">
                    <div class="pull-left">
                      <img src="{{ (conversation.membres | first).gravatar }}">
                    </div>
                    <h4>
                      {{ (conversation.membres | first).prenom }} 
                      {{ (conversation.membres | first).nom }}{% if conversation.membres|length > 1 %} et {{ conversation.membres|length > 2 ? ((conversation.membres|length - 1) ~  ' autres...') : 'un autre'}}{% endif %}

                      <small><i class="fa fa-clock-o"></i>{{ conversation.lastmessage.datemp }}</small>
                    </h4>
                    <p>{{ conversation.lastmessage.contenump }}</p>
                  </a>
                </li><!-- end message -->
              {% endfor %}
              </ul>
            </li>
            <li class="footer"><a href="mp.php">Tous les messages privés</a></li>
          </ul>
        </li>
        <!-- Notifications: style can be found in dropdown.less -->
        <li class="dropdown notifications-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-bell-o"></i>
            <span class="label label-warning numnotifs">{{ user.unreadnotifications | length >= 1 ? user.unreadnotifications | length }}</span>
          </a>
          <ul class="dropdown-menu">
            <li class="header">
              {% if user.unreadnotifications | length == 1 %}
              Vous avez une nouvelle notification
              {% elseif user.unreadnotifications | length == 0 %}
              Vous n'avez pas de nouvelle notification
              {% else %}
              Vous avez {{user.unreadnotifications | length }} nouvelles notifications
              {% endif %}
            </li>
            <li>
              <!-- inner menu: contains the actual data -->
              <ul class="menu">
                {% for notification in user.Notifications | slice(0, 5) | reverse %}
                <li class="notifsblock{{ notification.readstatus ? ' bg-gray-active color-palette' }}" value="{{ notification.IdNotification }}">
                  <a href="{{ notification.fullnotification.link }}" style="white-space: normal;">
                    <div class="pull-left">
                      <img src="{{ notification.OtherMember.gravatar }}" style="margin-left: auto;margin-top: auto;margin-down: auto;margin-right: 10px;width:40px;height: 40px;">
                    </div>
                    {{ notification.fullnotification.content }}
                  </a>
                </li>
                {% endfor %}
              </ul>
            </li>
          </ul>
        </li>
        <!-- User Account: style can be found in dropdown.less -->
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="{{ user.Gravatar }}" class="user-image" alt="User Image">
            <span class="hidden-xs">{{ user.prenom }} {{ user.nom }}</span>
          </a>
          <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header">
              <img src="{{ user.Gravatar }}" class="img-circle" alt="User Image">
              <p>
                {{ user.prenom }} {{ user.nom }} - Web Developer
                <small>Member since {{ user.dateinscription }}</small>
              </p>
            </li>
            <!-- Menu Body -->
            <li class="user-body">
              <div class="col-md-4 text-center">
                <a href="#">Followers</a>
              </div>
              <div class="col-md-8 text-center">
                <a href="friendslist.php">Liste des amis</a>
              </div>
            </li>
            <!-- Menu Footer-->
            <li class="user-footer">
              <div class="pull-left">
                <a class="btn btn-default btn-flat" href="profile.php">Mon Profil</a>
              </div>
              <div class="pull-right">
              	<a href="index.php?logout" class="btn btn-default btn-flat">Se déconnecter</a>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    {% endif %}
  </nav>
</header>
<div class="content-wrapper">
	{% block content %}{% endblock %}
</div>
    <div id="footer">
        {% block footer %}
            &copy; Copyright 2015 by tcit.
        {% endblock %}
    </div>


<!-- jQuery 2.1.4 -->
    <script src="templates/AdminLTE/plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="templates/AdminLTE/bootstrap/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="templates/AdminLTE/plugins/fastclick/fastclick.min.js"></script>
    <!-- AdminLTE App -->
    <script src="templates/AdminLTE/dist/js/app.min.js"></script>	
	<script src="templates/AdminLTE/plugins/select2/select2.full.min.js"></script>
<script type="text/javascript">
  $(".select2").select2();

  /*
  
    Liking a post

  */

  $(".like").click(function(){
    val = $(this).attr('value');
    likebtn = $(this);
    $.ajax({
      method:"GET",
      url:"calls/like.php",
      data:{ idpost : val }
    })
    .done(function() {
        $(".likers[value=" + val + "]").append(" Vous aimez.");
        likes = likebtn.parent().find('.numberlikes');
        likes.text(parseInt(likes.text())+1);
      });
  });

  /*

    Delete a post

  */

  $(".delpost").click(function(){
    val = $(this).attr('value');
    $.ajax({
      method:"GET",
      url:"calls/deletepost.php",
      data:{ idpost : val }
    })
    .done(function() {
        $(".post[value=" + val + "]").slideUp();
      });
  });

  /*
  
    Show rest of comments

  */

  $(".morecoms").on('click',function(){
    $(this).parent().children(".box-comment").removeClass('hidden');
    $(".morecoms").addClass('hidden');
    return false;
  });

  /*
  
    Add a new comment

  */

  $(".newcommentform").submit(function(event) {
    ourform = $(this);
    idpostval = $(this).find('.hiddenidpost').val();
    contenucomment = $(this).find("input[name='comment']").val();
    $.ajax({
      method:"POST",
      url:"calls/newcom.php",
      data:{ idpost : idpostval, comment : contenucomment }
    })
    .done(function() {

      var d = new Date(); /* Get the current date */

      var month = d.getMonth()+1;
      var day = d.getDate();

      var datecomment = d.getFullYear() + '/' +
          (month<10 ? '0' : '') + month + '/' +
          (day<10 ? '0' : '') + day;

      if (ourform.parent().parent().find('.box-comments').length == 0) { /* If there's not a single comment, create the comment area ! */
        ourform.parent().before('<div class="box-footer box-comments"></div>');
      }

      ourform.parent().parent().find('.box-comments').append('<div class="box-comment"><img class="img-circle img-sm" src="{{ user.gravatar }}"><div class="comment-text"><span class="username">{{ user.prenom }} {{ user.nom }}<span class="text-muted pull-right">' + datecomment + '</span></span>' + contenucomment + '</div></div>'); // create a comment with the information we have

      ourform.parent().parent().find('.box-comment').removeClass('hidden'); // show all other comments
      $(".morecoms").addClass('hidden');

      coms = ourform.parent().parent().find('.numbercoms'); /* Increate comments counter */
      coms.text(parseInt(coms.text())+1);

      ourform.find("input[name='comment']").val(''); // reset the text input
      });
    event.preventDefault();
  });

  $(".notifsblock").hover(function(event) { // TODO : Decrease notification count properly
    if ($(this).hasClass('bg-gray-active')) {
    notif = $(this);
    $.ajax({
      method:"GET",
      url:"calls/readNotifications.php",
      data:{idnotif : notif.attr('value')}
    })
    .done(function() {
      numnotifs = $(".numnotifs");
      notifs = parseInt(numnotifs.text())-1;
      numnotifs.text(notifs > 0 ? notifs : '');
      notif.removeClass("bg-gray-active color-palette");
    });
  }
  });
  

</script>

</body>
</html>