{% extends "base.twig" %}
{% block title %}Liste d'amis{% endblock %}
{% block content %}
	<div class="box">
	<div class="box-header">
	<h3 class="box-title">Liste de demandes d'ami</h3>
	</div>
	<div class="box-body">
	{% if asks is not empty %}
		<table class="table table-condensed">
			<tbody>
			<tr><th>Nom</th><th>Prénom</th><th>Mail</th><th>Accepter</th></tr>
			{% for demand in asks %}
				<tr><td>{{ demand.user.nom }}</td><td>{{ demand.user.prenom }}</td><td>{{ demand.user.mail }}</td><td><a href="?accept={{ demand.user.id }}">Accepter la demande d'ami</a></td></tr>
			{% endfor %}
			</tbody>
		</table>
	{% else %}
		Vous n'avez pas de nouvelle demande d'ami.
	{% endif %}
	</div>
	</div>

	<div class="box">
	<div class="box-header">
	<h3 class="box-title">Liste de personnes auxquelles vous avez envoyé une demande d'amitié</h3>
	</div>
	<div class="box-body">
	{% if ownasks is not empty %}
		<table class="table table-condensed">
			<tbody>
			<tr><th>Nom</th><th>Prénom</th><th>Mail</th><th>Annuler</th></tr>
			{% for demand in ownasks %}
				<tr><td>{{ demand.friend.nom }}</td><td>{{ demand.friend.prenom }}</td><td>{{ demand.friend.mail }}</td><td><a href="?cancel={{ demand.friend.id }}">Annuler la demande</a></td></tr>
			{% endfor %}
			</tbody>
		</table>
	{% else %}
		Vous n'avez pas de demande d'ami pas encore acceptée.
	{% endif %}
	</div>
	</div>

	<div class="box">
	<div class="box-header">
	<h3 class="box-title">Liste de personnes inscrites</h3>
	</div>
	<div class="box-body">
		{% if people is not empty %}
			<table class="table table-condensed">
			<tbody>
			<tr><th>Nom</th><th>Prénom</th><th>Mail</th><th>Ajouter</th></tr>
			{% for personne in people %}
				<tr><td>{{ personne.nom }}</td><td>{{ personne.prenom }}</td><td>{{ personne.mail }}</td><td><a href="?adduser={{personne.id }}">Envoyer une demande d'ami !</a></td></tr>
			{% endfor %}
			</tbody>
			</table>
		{% else %}
			<div class="callout callout-warning">
				<h4>Plus d'amis ?</h4><!-- Prends un curly !-->
				<p>Hélas, aucun autre utilisateur inscrit n'est disponible pour être votre ami.</p>
			</div>
		{% endif %}
	</div>
	</div>

	<div class="box">
	<div class="box-header">
	<h3 class="box-title">Liste d'amis</h3>
	</div>
	<div class="box-body no-padding">
		{% if friends is not empty %}
			<table class="table table-condensed">
				<tbody>
				<tr><th>Nom</th><th>Prénom</th><th>Mail</th><th>Supprimer</th></tr>
				{% for ami in friends %}
					<tr><td>{{ ami.nom }}</td><td>{{ ami.prenom }}</td><td>{{ ami.mail }}</td><td><a href="?removefriend={{ ami.id }}">Remove friend</a></td></tr>
				{% endfor %}
				</tbody>
			</table>
		{% else %}
			<div class="callout callout-danger">
				<h4>Aucun ami</h4>
				<p>Hélas, vous n'avez (encore ?) aucun ami.</p>
			</div>
		{% endif %}
	</div>
	</div>
{% endblock %}