{% extends "base.twig" %}
{% block title %}Liste d'amis{% endblock %}
{% block content %}
<table>
<tr><th>Nom</th><th>Prénom</th><th>Mail</th><th>Ajouter</th></tr>
{% for personne in people %}
	<tr><td>{{ personne.nom }}</td><td>{{ personne.prenom }}</td><td>{{ personne.mail }}</td><td><a href="?adduser={{personne.id }}">L'ajouter !</a></td></tr>
{% endfor %}
</table>
{% if friends is not empty %}
Vos amis :<br>
{% for ami in friends %}
{{ ami.mail }} <a href="?removefriend={{ ami.id }}">Remove friend</a> <br>
{% endfor %}
{% endif %}
<br>
{% endblock %}