<header class="main-header">
  <a href="index.php" class="logo">
    <!-- LOGO -->
    <b>Faceclone</b>
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Navbar Right Menu -->
    {% if connected %}
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- Messages: style can be found in dropdown.less-->
        <li class="dropdown messages-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-envelope-o"></i>
            <span class="label label-success">4</span>
          </a>
          <ul class="dropdown-menu">
            <li class="header">You have {{ user.conversations | length }} messages</li>
            <li>
              <!-- inner menu: contains the actual data -->
              <ul class="menu">
              {% for conversation in user.conversations %}
                <li><!-- start message -->
                  <a href="#">
                    <div class="pull-left">
                      <img src="{{ conversation.membre.gravatar }}">
                    </div>
                    <h4>
                      {{ conversation.membre.prenom }} {{ conversation.membre.nom }}
                      <small><i class="fa fa-clock-o"></i> 5 mins</small>
                    </h4>
                    <p>{{ conversation.lastmessage.contenump }}</p>
                  </a>
                </li><!-- end message -->
              {% endfor %}
              </ul>
            </li>
            <li class="footer"><a href="mp.php">Tous les messages privés</a></li>
          </ul>
        </li>
        <!-- Notifications: style can be found in dropdown.less -->
        <li class="dropdown notifications-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-bell-o"></i>
            <span class="label label-warning">10</span>
          </a>
          <ul class="dropdown-menu">
            <li class="header">You have 10 notifications</li>
            <li>
              <!-- inner menu: contains the actual data -->
              <ul class="menu">
                <li>
                  <a href="#">
                    <i class="ion ion-ios-people info"></i> Notification title
                  </a>
                </li>
              </ul>
            </li>
            <li class="footer"><a href="#">View all</a></li>
          </ul>
        </li>
        <!-- User Account: style can be found in dropdown.less -->
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="{{ user.Gravatar }}" class="user-image" alt="User Image">
            <span class="hidden-xs">{{ user.prenom }} {{ user.nom }}</span>
          </a>
          <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header">
              <img src="{{ user.Gravatar }}" class="img-circle" alt="User Image">
              <p>
                {{ user.prenom }} {{ user.nom }} - Web Developer
                <small>Member since {{ user.dateinscription }}</small>
              </p>
            </li>
            <!-- Menu Body -->
            <li class="user-body">
              <div class="col-md-4 text-center">
                <a href="#">Followers</a>
              </div>
              <div class="col-md-8 text-center">
                <a href="friendslist.php">Liste des amis</a>
              </div>
            </li>
            <!-- Menu Footer-->
            <li class="user-footer">
              <div class="pull-left">
                <a class="btn btn-default btn-flat" href="profile.php">Mon Profil</a>
              </div>
              <div class="pull-right">
              	<a href="index.php?logout" class="btn btn-default btn-flat">Se déconnecter</a>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    {% endif %}
  </nav>
</header>