{% extends "base.twig" %}
{% block title %}Index{% endblock %}
{% block content %}
	<aside>
		{% if not connected %}
		<form action="index.php" method="post">
			<label for="login">E-Mail</label><input name="login" /><br>
			<label for="password">Mot de passe</label><input name="password" /><br>
			<button>Entrer</button><a href="createaccount.php">Créer un compte</a>
		</form>	
		{% else %}
		<em class="info">Vous êtes connecté.</em>
		{% endif %}
	</aside>
	{% if connected %}
	Bonjour {{ user.prenom }} {{ user.nom }}
	<form action="index.php" method="post">
		<label for="msg">Message à dire au monde (syntaxe markdown) :</label><br>
		<textarea class="newMessage" name="msg"></textarea><br>
		<input type="submit">
	</form>
	{% for post in posts | reverse %}
	<div>{{ post.contenupost | markdown }}<br>{{ post.idmembre }} - {{ post.datemessage }}</div>
	{% endfor %}
	{% endif %}
{% endblock %}