{% extends "base.twig" %}
{% block title %}Post par {{ post.user.prenom }} {{ post.user.nom }}{% endblock %}
{% block content %}
<section class="content container">
		<div class="row">
		<div class="col-md-12 center-block">
		{% if post is not empty %}
		<div id="activity">
			<div class="post" value="{{ post.id }}">
				{% set narcisse = 0 %}
				<div class="box-header with-border">
					<div class='user-block'>
		                <img class='img-circle img-bordered-sm' src='{{ post.user.Gravatar }}' alt='user image'>
		                <span class='username'>
		                	<a href="profile.php?id={{ post.user.id }}">{{ post.user.prenom }} {{ post.user.nom }}</a>
		                	{% if user.id == post.user.id %}
		                		<button value="{{ post.id }}" class='pull-right btn btn-box-tool delpost'><i class='fa fa-times'></i></button>
		                	{% endif %}
		                </span>
		                <span class='description'>{{ post.datemessage }}</span>
	                </div><!-- /.user-block -->
	            </div>
                <div class="box-body">
                {{ post.contenupost | auto_link_text | markdown }}
                {% if post.attachment.url != null %}
	                <div class="attachment-block clearfix">
	                	{% if post.attachment.picture != '' %}<img class="attachment-img" src="{{ post.attachment.picture }}">{% endif %}
	                	<div {{ post.attachment.picture != '' ? 'class="attachment-pushed"' }}>
	                		<h4 class="attachment-heading">
	                			<a href="{{ post.attachment.url }}">{{ post.attachment.title }}</a>
	                		</h4>
	                		<div class="attachment-text">
	                			{{ post.attachment.summary | raw }}
	                			<a href="{{ post.attachment.url }}">Lire la suite...</a>
	                		</div>
	                	</div>
	                </div>
                {% endif %}
                	<button class="btn btn-default btn-xs like" value="{{ post.id }}"><i class="fa fa-thumbs-o-up"></i> Like</button>
                	<span class="likers text-sm" value="{{ post.id }}">
            		{% for like in post.likes | slice(0, 5) %}
            			{% if like.id != user.id %}<a class="link-blue" href="profile.php?id={{ like.id }}">{% endif %}
            			<span class="text-sm">
						{% if like.id == user.id %}
							{% set narcisse = 1 %}
							Vous
						{% else %}
            				{{ like.prenom }} {{ like.nom }}
						{% endif %}
						</span>
            			{% if like.id != user.id %}</a>{% endif %}
            			{% if not loop.last and loop.revindex > 2 %}
            				,
            			{% elseif loop.revindex == 2 %}
            			 	et
            			 {% endif %}
            		{% endfor %}
            		<span class="text-sm">
            			{% if narcisse == 1 %}
            			aimez.
            			{% else %}
            				{% if post.likes | length == 1 %}aime.{% elseif post.likes | length > 1 %}aiment.{% endif %}
            			{% endif %}
            		</span>
            		</span>
            		<span class="pull-right text-muted"><span class="numberlikes">{{ post.likes | length }}</span> <i class="fa fa-thumbs-o-up"></i> - <span class="numbercoms">{{ post.comments | length }}</span> <i class="fa fa-commenting"></i></span>
                </div>
				{% if post.comments is not empty %}
	           	<div class="box-footer box-comments">
	           		{% for comment in post.comments %}
	           		<div class="box-comment">
	           			<img class="img-circle img-sm" src="{{ comment.membre.gravatar }}">
		           		<div class="comment-text">
		           			<span class="username">{{ comment.membre.prenom }} {{ comment.membre.nom }}
								<span class="text-muted pull-right">{{ comment.datecomment }}</span>
		           			</span>
		           			{{ comment.contenu | auto_link_text | markdown }}
		           		</div>
	           		</div>
	           		{% endfor %}
	           	</div>
           		{% endif %}
           		<div class="box-footer">
           			<form action="calls/newcom.php" method="post" class="newcommentform">
                    <img class="img-responsive img-circle img-sm" src="{{ user.gravatar }}" alt="alt text">
                    <!-- .img-push is used to add margin to elements next to floating images -->
                    <div class="img-push">
                      <input class="form-control input-sm" placeholder="Appuyez sur entrée pour envoyer votre message" type="text" name="comment">
                      <input type="hidden" name="idpost" class="hiddenidpost" value="{{ post.id }}">
                    </div>
                  </form>
           		</div>
           	</div>
        </div>
   	</div>
</div>
</section>
{% else %}
404
{% endif %}
{% endblock %}